body {
  display: flex;
  flex-wrap: wrap;
  background: #eeeeff;
}

div {
  align: center;
}

.labelclass {
  margin: 10px auto 0 auto;
  width: 560px;
  height: 60px;
  background: #ddf;
  background: lightcyan;
  padding: 0 20px;
  font-size: 24px;
  line-height: 60px;
  color: #225;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.itemclass {
  margin: 10px auto 20px auto;
  width: 600px;
  height: 90px;
  background: #ddf;
  background: lightcyan;
  text-align: center;
  font-size: 32px;
  line-height: 90px;
  color: #225;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.btnclass {
  margin: 10px auto 20px auto;
  width: 600px;
  height: 90px;
  background: #ffe;
  /* background: lightcyan; */
  text-align: center;
  font-size: 32px;
  line-height: 90px;
  color: #333;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 10px 0 #333;
}

.btnclass:hover {
  opacity: 1;
}

.btnclass:active {
  box-shadow: 0 5px 0 #333;
  margin-top: 15px;
}
